<div class="center">
    <div class="center ribbon">
        <h1>CRUD App</h1>
        <h2>Matt Lee's CMM Interview</h2>
    </div>
    
    <% if logged_in?%>
        <%= link_to "Create Customer", new_customer_path, class: "btn btn-lg btn-primary button-create" %>
        <%= link_to "Create Project", new_project_path, class: "btn btn-lg btn-primary button-create" %>
        <%= link_to "Create Task", new_task_path, class: "btn btn-lg btn-primary button-create" %>
        <%= link_to "Create Task Entry", new_task_entry_path, class: "btn btn-lg btn-primary button-create" %>

    <% else %>
        <%= link_to "Create User", new_user_path, class: "btn btn-lg btn-primary button-create" %>
        <%= link_to "Log in", login_path, {:id => "login-sm"} %>
    <% end %>
</div>
