<% provide(:title, 'Edit Task Entry') %>
<h1>Edit Task Entry</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@task_entry) do |f| %>
      <%= render 'shared/error_messages', :@profile => @task_entry %>

      <%= f.label :note %>
      <%= f.text_field :note, class: 'form-control'%>

      <%= f.label :start_time %>
      <%= f.text_field :start_time, class: 'form-control'%>

      <%= f.label :duration %><span> (minutes)</span>
      <%= f.text_field :duration, class: 'form-control'%>

      <%= f.submit "Save changes", class: "btn btn-primary form-button-create" %>
    <% end %>
  </div>
</div>