<% provide(:title, 'Create Task') %>
<h1>Create Task</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@task) do |f| %>
      <%= render 'shared/error_messages', :@profile => @task %>

      <%= f.label :task_name %>
      <%= f.text_field :task_name, class: 'form-control'%>

      <%= f.label :project %>
      <%= f.select :project_id, Project.all.collect{|p|[p.project_name, p.id]}, {}, {:class => 'form-control'}%>

      <%= f.label :user %>
      <%= f.select :user_id, User.all.collect{|u|[u.username, u.id]}, {}, {:class => 'form-control'}%>

      <%= f.submit "Create task", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>