<footer class="footer center">
  <ul class="">
    <li><%= link_to "Users", users_path %></li>
    <li><%= link_to "Customers", customers_path %></li>
    <li><%= link_to "Projects", projects_path %></li>
    <li><%= link_to "Tasks", tasks_path %></li>
    <li><%= link_to "Task Entries", task_entries_path %></li>
  </ul>
</footer>